<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle w-100 border "
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="true"
        >
          {{ selectedCity ? selectedCity : "Şehir Seç" }}
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let cityItem of cities">
            <a
              class="dropdown-item"
              href="#"
              (click)="selectCity(cityItem.id, cityItem.name)"
              >{{ cityItem.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <input
        type="number"
        class="form-control"
        placeholder="Minimum Fiyat"
        [(ngModel)]="minPrice"
      />
    </div>
    <div class="col-md-12 mt-2">
      <input
        type="number"
        class="form-control"
        placeholder="Maksimum Fiyat"
        [(ngModel)]="maxPrice"
      />
    </div>
  </div>
  <button class="btn btn-danger mt-3 w-100" (click)="applyFilter()">
     Filtrele
  </button>
</div>
